body {
    min-height: 100%;
    height: auto;
    background-image: url("https://static.pexels.com/photos/10651/photo-1432821596592-e2c18b78144f.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.5em;
}

.btn-workLand{
    color: white;
    background-color: rgba(133, 97, 62, 0.8);
    border-color: rgba(113, 73, 33, 0.8);
    text-align: center;
}

.btn-work{
    color: white;
    background-color: rgba(133, 97, 62, 0.8);
    border-color: rgba(113, 73, 33, 0.8);
    text-align: center;
}

md-select-menu.md-default-theme md-content md-option[selected]:focus, md-select-menu md-content md-option[selected]:focus {
    color: rgba(133, 97, 62, 1.0);
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: rgba(133, 97, 62, 1.0);
}

.md-checkbox-enabled.md-default-theme[selected] .md-icon, .md-checkbox-enabled[selected] .md-icon {
    background-color: rgba(133, 97, 62, 0.87);
}

.panel-work{
    border-color: rgba(113, 73, 33, 1.0);
}

.panel-work .panel-heading{
    color: white;
    background-color: rgba(133, 97, 62, 1.0);
    border-color: rgba(113, 73, 33, 1.0);
    font-size: 1.5em;
}