<div style="position: absolute; left: 50%; top: 35%">
    <div style="position: relative; left: -50%; width: 50vw">
        <div class="col-md-12">
            <div class="panel panel-work">
                <div class="panel-heading">
                    Add a new job
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>Company</label>
                                <input ng-model="ctrl.entry.company" required></input>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>Job name</label>
                                <input ng-model="ctrl.entry.name" required></input>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>Required Skills</label>
                                <md-select ng-model="ctrl.entry.skills" multiple>
                                    <md-optgroup label="Raw">
                                        <md-option ng-value="skill.name" ng-repeat="skill in ctrl.skills | filter: {category: 'raw' }">{{skill.name}}</md-option>
                                    </md-optgroup>
                                    <md-optgroup label="Team Work">
                                        <md-option ng-value="skill.name" ng-repeat="skill in ctrl.skills | filter: {category: 'teamwork' }">{{skill.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>Job Description</label>
                                <textarea ng-model="ctrl.entry.description" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <div class="col-md-6 col-md-offset-3 btn btn-lg btn-work" ng-click='ctrl.addJob()'>
					        Adauga
				        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>