<div style="position: absolute; left: 50%; top: 45%">
    <div style="position: relative; left: -50%; width: 50vw">
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8" style="font-size: 3em;">
                <md-input-container class="md-block">
                    <label>Your Skills</label>
                    <md-select ng-model="ctrl.selectedSkills" multiple>
                        <md-optgroup label="Raw">
                            <md-option ng-value="skill.name" ng-repeat="skill in ctrl.skills | filter: {category: 'raw' }">{{skill.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup label="Team Work">
                            <md-option ng-value="skill.name" ng-repeat="skill in ctrl.skills | filter: {category: 'teamwork' }">{{skill.name}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-6 col-md-offset-3 btn btn-lg btn-workLand" ng-click="ctrl.getToListPage()">
                Find me a job!
            </div>
        </div>
    </div>
</div>